<h1 class="animated rotateIn ">asdasd</h1>
<div class="columnContainer">

  <div style="font-size: 60px; font-family: Helvetica">
    Welcome
  </div>

  <div style="font-size: 14px; font-family: Helvetica;
    display: flex; flex-direction: column; margin: 40px">
    <span style="margin: 0 0 10px">Email address</span>
    <input type="text" #inputElement/>
  </div>

  <div *ngIf="!this.emailValid" style="font-size: 12px; font-family: Helvetica; color: red" #loginErrorMessage>
    Please double check your email and try again
  </div>

  <div class="buttonContainer">

    <button class="button1 animate__animated" [ngClass]="{animate__shakeX: this.animationState}"  style="margin: 20px"
    (click)="login(inputElement.value)">
      Login
    </button>
  </div>




</div>

