<h1>Business Details</h1>
<form class="container" [formGroup]="this.questionHandlerService.questionsForm" >

  <div class="container"  *ngIf="!this.isLoading() else loadingTemplate">

    <ul >
      <li *ngFor="let question of questionsArray">

        <div class="font" >
          {{question.questionName}}
        </div>

        <input *ngIf="question.questionType !== 'RADIO_BUTTON' else radioTemplate"
          [type]="question.questionType === 'DATE_PICKER' ? 'date' : question.questionType"
          [formControlName]="question.questionID"
          (blur)="storageService.saveAnswerLocally(question.questionID, $event)" />

        <ng-template #radioTemplate>
          <div>
            <input type="radio" value="yes" [name]="question.questionID" [formControlName]="question.questionID"
                 (blur)="storageService.saveAnswerLocally(question.questionID, $event)"/>
            <label class="font">yes</label>
          </div>
          <div>
            <input type="radio" value="no" [name]="question.questionID" [formControlName]="question.questionID"
                 (blur)="storageService.saveAnswerLocally(question.questionID, $event)"/>
            <label class="font">no</label>
          </div>

        </ng-template>

      </li>
    </ul>
    <div class="buttonContainer">
      <button class="button1" [disabled]="this.questionHandlerService.questionsForm.invalid"
              (click)="router.navigate(['2'])">Next</button>
    </div>
  </div>
  <ng-template #loadingTemplate>Loading...</ng-template>


</form>
