<h1>Business Details</h1>
<form class="container" [formGroup]="this.questionHandlerService.questionsForm"
      (ngSubmit)="submitQuestions()">

  <div class="container"  *ngIf="!this.isLoading() else loadingTemplate">

    <ul>
      <li *ngFor="let question of questionsArray">

        <div class="font">
          {{question.questionName}}
        </div>

        <input *ngIf="question.questionType !== 'CHECKBOX' else checkboxTemplate"
          [type]="question.questionType"
          [formControlName]="question.questionID"
               (blur)="storageService.saveAnswerLocally(question.questionID, $event)"/>

        <ng-template #checkboxTemplate>

          <input type="checkbox"
            [formControlName]="question.questionID"
                 (blur)="storageService.saveAnswerLocally(question.questionID, $event)"/>

        </ng-template>

      </li>
    </ul>

    <div class="buttonContainer">
      <button class="button1" [disabled]="this.questionHandlerService.questionsForm.invalid"
              (submit)="router.navigate(['result'])"
              type="submit">Create my policy</button>
    </div>

  </div>
  <ng-template #loadingTemplate>Loading...</ng-template>

</form>
